<div class="cards">
  <div class="container">
    <div class="row">
      <% if current_trader == @store.trader %>
        <%= render "shared/show_trader" %>
      <% else %>
        <%= render "shared/show_user" %>
      <% end %>
    </div>
  </div>
</div>
