body {
  margin: 0;
  padding:0px;
  box-sizing: border-box;
  background: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.main_nav{
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 64px;
  background-color: #552c00;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  flex-wrap: nowrap
}

.nav_left{
  flex-grow: 1;
  text-align: center;
}

.nav_fill{
  flex-shrink:0;
  padding-right: 0px;
  flex-grow: 6;
}

.nav_right{
 display: flex;
 // justify-content: space-evently;
 flex-direction: row;
 margin-right: 4px;
 margin-left: 4px;
}

.navbar div {
  display: inline-block;
}

.nav_logo{
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

// .logo:hover{
//   text-decoration: none;
// }

.nav-links {
  margin-right: 16px;
}

.cart a{
  margin-top: 4px;
}

.nav-links a{
  color:#f2f2f2;
  margin-right: 8px;
}

.nav-links a:hover {
  text-decoration: none;
}

.navbar_2 {
  background-color: #804d15;
  height: 39px;
  display: flex;
  justify-content: center;
}

.navbar_2 a{
 color:#f2f2f2;
 margin:5px 1px 6px 0px;
 padding: 0px 16px;
 flex-shrink: 0;
 min-width: 0;
 min-height: 0;
 text-decoration: none;
}

.navbar_2 a:hover{
 border-color: #f2f2f2;
 border-size: 1px;
}

.navbar_3 {
  background-color: #FAFAFA;;
  height: 33px;
  border-bottom: solid 1px;
  border-bottom-color: #DDDDDD;
}

.cart a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart a h6{
  margin-bottom: 0px;
  margin-left: 10px,
}

#nav_email a{
  color:#f2f2f2;
}


@media only screen and (max-width: 1250px) {
  .nav-links {
    margin-right: 0px;
  }

  .main_nav {
    display: flex;
    flex-direction: column;
  }

  .nav_logo {
    display: none;
  }

  .nav_fill{
    width: 100%;
    padding-left: 62px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav_right {
    display: flex;
    justify-content: space-between;
  }
}
