<div>
<%= link_to "crée la boutique", new_store_path %>
</div>
<div>
<%= link_to "mise a jours de la boutique", dashboard_path %>
</div>
<div>
<%= link_to "crée un produit", dashboard_path %>
</div>
<div>
<%= link_to "mise a jours des produits", dashboard_path %>
</div>

