    <form id="signup-form">
      <div>
        <input id="email" type="text" placeholder="Email address" required />
      </div>
​
      <button id="email-submit" type="submit">
        <span id="button-text">Sign up</span>
      </button>
    </form>


