.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-trip {
  margin-right: 1em;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px;
  width: 250px;
}

.card-trip > img {
  height: 200px;
  width: 250px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  color: black;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-store-infos{
  padding: 16px;
  height: 80px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos{
  background-color: #FAFAFA
}

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product a {
  flex-grow:1;
  display: flex;
  align-items: center;
}
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  flex-grow:1;
}

.card-trip-pricing{
  width: 210px;
}
