// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cart-store {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 32px;
  padding: 8px;
}

.cart-store h2{

}

.cart-product{
  flex-grow:2;
  padding-left: 8px;
}

.cart_container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid;
  border-color: #ddd;
  padding-bottom: 8px;
  padding-top: 8px;
}

.cart_titel{
  border-bottom: 2px solid;
  border-color: #ddd;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.cart_buy{
  margin-top: 6px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart_buy a{
  width: 50%;
  margin: 0 auto;
  background-color: #804D15;
}

.select_quantity{
  width: 88px;
  background-image: none !important;
}

.cart_quantity{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.cart_quantity h6{
  margin-right: 8px;
}

#cart_sup{
  margin-left: 16px;
  padding-left: 16px;
  border-left: 2px solid;
  border-color: #ddd;
}

label[for="cart_quantity"]
{
    display:none;
}
