<div class=success_page>
  <h2>Payment Successful !</h2>
  <p>We are delighted to inform you that we received your payments</p>
  <%= button_to "View Orders", root_path %>
  <%= link_to "Continue Shopping", root_path %>
</div>

