

<%= link_to "inscription utilisateur", new_user_session_path%>
<%= link_to "connextion utilisateur", user_session_path%>
<p></p>
<%= link_to "inscription commercant", new_trader_session_path%>
<%= link_to "connextion commercant", trader_session_path%>
