<form class="my-form2" action="/user_info" method="post">
  <input type="hidden" name="token-account" id="token-account2">
  <input type="hidden" value="<%= form_authenticity_token() %>"name="authenticity_token"/>



  <button>Submit</button>
</form>
